<% content_for :content do %>
  <% if flash[:notice] %>
    <div class="alert alert-notice">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= raw(flash[:notice]) %></strong>
    </div>
  <% end %>
  <div class="row">
    <div class="span5 offset1">
      </br>
      <h1>Profil bearbeiten</h1>
      </br>
      </br>
      </br>
      <%= form_for current_user, url: profile_path do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%# <%= f.label :password %1> %>
        <%# <%= f.password_field :password %1> %>
        <%# <%= f.label :password_confirmation %1> %>
        <%# <%= f.password_field :password_confirmation %1> %>
        <%# <%= f.label :status %1> %>
        <%# <%= f.select :role, ['Admin', 'Editor'] %1> %>
        </br>
        </br>
        <%= f.submit "Speichern", class: "btn" %>
        <%= link_to 'Zurück', users_path, class: "btn"  %>
      <% end %>
    </div>
  </div>
<% end %>
