<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Assigned from user</th>
      <th>Assigned to user</th>
      <th>Assigned at date</th>
      <th>Assigned to date</th>
      <th>Assigned entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.creator_id %></td>
        <td><%= assignment.recipient_id %></td>
        <td><%= assignment.from_date %></td>
        <td><%= assignment.to_date %></td>
        <td><%= assignment.entry_id %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_assignment_path %>
