<div class="down_comments">
  <div class="funky_grey_seperator">
    <%= form_for [@entry, @comment] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <h4>Kommentar<span class="right-action"><%= f.submit "Speichern", class: 'btn' %></span></h4></br>
      <%= f.text_area :comment  %>
    <% end %>
    <ul class="unstyled">
      <% @entry.comments.order("updated_at DESC").each do |comment| %>
        <li>
          <strong><%= comment.user.name %></strong> 
          <%= "(#{comment.updated_at.to_formatted_s(:short)})" %>
          <% if can?(:destroy, comment)%>
             <span class="right-action"><%= link_to "Bearbeiten", edit_entry_comment_path(@entry, comment) %> 
             | <%= link_to "Löschen", [@entry, comment], method: :delete %></span>
           <% end %>
           </br>
           <%= comment.comment %>
           </br>
           </br>
        </li>
      <% end%>
    </ul>
  </div>
</div>
