<ol class="unstyled">
  <% @entry.comments.order("updated_at DESC").limit(1).each do |comment| %>
    <li>
      <strong><%= comment.user.name %></strong> 
      <%= "(#{comment.updated_at.to_formatted_s(:short)})" %>
      <% if can?(:destroy, comment)%>
        <div style="float: right;">
          <%= link_to 'Bearbeiten', edit_entry_comment_path(@entry, comment) %> |
          <%= link_to "Löschen", [@entry, comment], method: :delete %>
        </div>       
      <% end %>
      <div><%= comment.comment %></div>
    </li>
  <% end%>
</ol>
