<%= form_for @entry do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="funky_grey_seperator">
    <div style="margin-bottom: 2em">
      <span class="right-action"><%= f.submit 'Speichern', class: 'btn' %></span>
      <h4>Kennungsdaten</h4>
      <span class="right-action"> <%= link_to 'Anzeigen', @entry, class: 'btn' %></span>
    </div>
    <% if can?(:manage, @entry) %>
      <%= f.label :verfasser %>
      <%= select("entry", "user_id", User.all.collect {|user| [ user.name, user.id ] }, { :selected => current_user.id}) %>
    <% else %>
      <%= f.hidden_field :user_id, value: current_user.id  %>
    <% end %>
    <%= f.label :freigeschaltet %>
    <%= f.check_box :freigeschaltet %>
    <%= f.label :namenskuerzel %>
    <%= f.text_field :namenskuerzel %>
    <%= f.label :kennzahl %>
    <%= f.text_field :kennzahl %>
    <%= f.label :spaltenzahl %>
    <%= f.text_field :spaltenzahl %>
    <%= f.label :abweichende_kennzahl, 'Abweichende Kennzahl' %>
    <%= f.text_field :abweichende_kennzahl%>
    <%= f.label :seite_textblock2005, 'Seite Textblock 2005' %>
    <%= f.text_field :seite_textblock2005 %>
  </div>
  <div class="funky_grey_seperator">
    <h4>Lemma-Schreibungen und -Aussprachen</h4>
    <%= f.label :japanische_umschrift%>
    <%= f.text_field :japanische_umschrift %>
    <%= f.label :japanische_umschrift_din, 'Japanische Umschrift nach DIN 32708' %>
    <%= f.text_field :japanische_umschrift_din %>
    <%= f.label :kanji %>
    <%= f.text_field :kanji %>
    <%= f.label :chinesisch %>
    <%= f.text_field :chinesisch %>
    <%= f.label :tibetisch %>
    <%= f.text_field :tibetisch %>
    <%= f.label :koreanisch %>
    <%= f.text_field :koreanisch %>
    <%= f.label :pali %>
    <%= f.text_field :pali %>
    <%= f.label :sanskrit %>
    <%= f.text_field :sanskrit %>
    <%= f.label :weitere_sprachen %>
    <%= f.text_field :weitere_sprachen %>
    <%= f.label :alternative_japanische_lesungen %>
    <%= f.text_field :alternative_japanische_lesungen %>
    <%= f.label :schreibvarianten %>
    <%= f.text_field :schreibvarianten %>
    <%= f.label :lemma_in_katakana, 'Lemma in Katakana' %>
    <%= f.text_field :lemma_in_katakana %>
    <%= f.label :lemma_in_lateinbuchstaben, 'Lemma in Lateinbuchstaben' %>
    <%= f.text_field :lemma_in_lateinbuchstaben %>
  </div>
  <div class="funky_grey_seperator">
    <h4>Übersetzungen, Quellenangaben, Literatur und Ergänzungen</h4>
    <%= f.label :lemma_art %>
    <%= f.select :lemma_art, ["", "Person", "Tempel", "Werk", "Fachtermini", "Geographische Bezeichnung", "Ereignis"] %> 
    <%= f.label :jahreszahlen %>
    <%= f.text_field :jahreszahlen %>
    <%= f.label :deutsche_uebersetzung %>
    <%= f.text_field :deutsche_uebersetzung %>
    <%= f.label :uebersetzung %>
    <%= f.cktext_area :uebersetzung, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    <%= f.label :quellen %>
    <%= f.cktext_area :quellen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    <%= f.label :literatur %>
    <%= f.cktext_area :literatur, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    <%= f.label :eigene_ergaenzungen %>
    <%= f.cktext_area :eigene_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    <%= f.label :quellen_ergaenzungen %>
    <%= f.cktext_area :quellen_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    <%= f.label :literatur_ergaenzungen %>
    <%= f.cktext_area :literatur_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
    <%= f.label :japanischer_quelltext, 'Japanischer Quelltext' %>
    <%= f.text_field :japanischer_quelltext %>
    <%= f.label :japanischer_quelltext_bearbeitungsstand, 'Bearbeitungsstand des Quelltextes' %>
    <%= f.text_field :japanischer_quelltext_bearbeitungsstand %>
  </div>
<% end %>
