<div class="row">
  <div class="col-md-8"> 
    <%= bootstrap_form_for(@entry) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="funky_grey_seperator">
        <div style="margin-bottom: 2em">
          <h4>Kennungsdaten</h4>
          <div style="float: right;">
            <%= f.submit 'Speichern' %>
          </div>
        </div>
        <% if can?(:manage, @entry) %>
          <%= f.check_box :freigeschaltet %>
          <%= f.select(:user_id, options_for_select(User.all.collect {|user| [ user.name, user.id ] }, { selected: current_user.id}), label: 'Verfasser') %>
        <% else %>
          <%= f.hidden_field :user_id, value: current_user.id  %>
        <% end %>
        <%= f.select(:bearbeitungsstand, ['formatiert', 'unformatiert', 'unbearbeitet', 'Code veraltet', ''], selected: '') %>
        <%= f.text_field :namenskuerzel, label: 'Namenskürzel' %>
        <%= f.text_field :kennzahl %>
        <%= f.text_field :spaltenzahl %>
        <%= f.text_field :abweichende_kennzahl, label: 'Abweichende Kennzahl' %>
        <%= f.text_field :seite_textblock2005, label: 'Seite Textblock 2005' %>
        <%= f.select :bearbeitungsansatz, ['Übersetzung', 'ergänzte Übersetzung', 'Neufassung'], selected: 'Übersetzung' %> 
      </div>
      <div class="funky_grey_seperator">
        <h4>Lemma-Schreibungen und -Aussprachen</h4>
        <%= f.text_field :japanische_umschrift, label: 'Japanische Umschrift' %>
        <%= f.text_field :japanische_umschrift_din, label: 'Japanische Umschrift nach DIN 32708' %>
        <%= f.text_field :kanji %>
        <%= f.text_field :chinesisch %>
        <%= f.text_field :tibetisch %>
        <%= f.text_field :koreanisch %>
        <%= f.text_field :pali %>
        <%= f.text_field :sanskrit %>
        <%= f.text_field :weitere_sprachen %>
        <%= f.text_field :alternative_japanische_lesungen, label: 'Alternative japanische Lesungen' %>
        <%= f.text_field :schreibvarianten %>
        <%= f.text_field :lemma_in_katakana %>
        <%= f.text_field :lemma_in_lateinbuchstaben, label: 'Lemma in lateinischen Buchstaben bei entspr. Originalschreibung' %>
      </div>
      <div class="funky_grey_seperator">
        <h4>Übersetzungen, Quellenangaben, Literatur und Ergänzungen</h4>
        <%= f.select(:lemma_art, ["", "Person", "Tempel", "Werk", "Fachtermini", "Geographische Bezeichnung", "Ereignis"], label: 'Lemma-Art') %>
        <%= f.text_field :jahreszahlen %>
        <%= f.text_field :deutsche_uebersetzung %>
        <%= f.label :uebersetzung, 'Übersetzung' %>
        <%= f.cktext_area :uebersetzung, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
        <%= f.label :quellen %>
        <%= f.cktext_area :quellen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
        <%= f.label :literatur %>
        <%= f.cktext_area :literatur, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
        <%= f.label :eigene_ergaenzungen, 'Eigene Ergänzungen' %>
        <%= f.cktext_area :eigene_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
        <%= f.label :quellen_ergaenzungen, 'Quellen Ergänzungen' %>
        <%= f.cktext_area :quellen_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
        <%= f.label :literatur_ergaenzungen, 'Literatur Ergänzungen' %>
        <%= f.cktext_area :literatur_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
        <%= f.text_field :japanischer_quelltext, label: 'Japanischer Quelltext' %>
        <%= f.text_field :japanischer_quelltext_bearbeitungsstand, label: 'Bearbeitungsstand des Quelltextes' %>
      </div>
    <% end %>
  </div>
</div>
