<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Alle Einträge Durchsuchen
        <div style="margin-top: 20px">
          <%= form_tag entries_path, method: "get" do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Suche", name: nil, class: "btn"  %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Index Sortieren</li>
    </ul>
    <div style="margin-top: 20px">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Felder Auswahl 
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= sortable 'japanische_umschrift' %></li>
          <li><%= sortable 'japanische_umschrift', 'Japanische Umschrift (reversed)', 'desc' %></li>
          <li><%= sortable 'id' %></li>
          <li><%= sortable 'id', 'Id (reversed)', 'desc' %></li>
          <li><%= sortable 'kanji' %></li>
          <li><%= sortable 'kanji', 'Kanji (reversed)', 'desc' %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
