<div class="well sidebar-nav">
  <ul class="nav nav-pills nav-stacked">
    <li class="disabled"><a>Suchen</a></li>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Alle Einträge">
    </div>
    <button type="submit" class="btn btn-default">Los!</button>
  </ul>
</div>

<div class="well sidebar-nav">
  <ul class="nav nav-pills nav-stacked">
    <li class="disabled"><a>Sortieren</a></li>
    <div class="row">
     <div class="col-xs-13">
       <select id="info_type" class="form-control">
             <option>College</option>
             <option>Exam</option>
       </select>
     </div>
    </div>

    <%# <select id ="Select1" class="input-xxlarge"> %>
    <%#   <option>Mustard</option> %>
    <%#   <option>Ketchup</option> %>
    <%#   <option>Relish</option> %>
    <%# </select> %>

  </ul>
</div>
<%# <div class="well sidebar-nav"> %>
  <%#   <ul class="nav .nav-pills.nav-stacked"> %>
    <%#     <li class=".disabled">Alle Einträge Durchsuchen %>
      <%#       <div style="margin-top: 20px"> %>
        <%#         <%= form_tag entries_path, method: "get" do %1> %>
        <%#           <%= text_field_tag :search, params[:search] %1> %>
        <%#           <%= submit_tag "Suche", name: nil, class: "btn"  %1> %>
        <%#         <% end %1> %>
      <%#       </div> %>
    <%#     </li> %>
  <%#   </ul> %>
<%# </div> %>
<%# <div class="well sidebar-nav"> %>
  <%#   <ul class="nav nav-list"> %>
    <%#     <li class="nav-header">Index Sortieren</li> %>
    <%#   </ul> %>
  <%#   <div style="margin-top: 20px"> %>
    <%#     <div class="btn-group"> %>
      <%#       <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> %>
        <%#         Felder Auswahl %> 
        <%#         <span class="caret"></span> %>
        <%#       </a> %>
      <%#       <ul class="dropdown-menu"> %>
        <%#         <li><%= sortable 'japanische_umschrift' %1></li> %>
        <%#         <li><%= sortable 'japanische_umschrift', 'Japanische Umschrift (reversed)', 'desc' %1></li> %>
        <%#         <li><%= sortable 'id' %1></li> %>
        <%#         <li><%= sortable 'id', 'Id (reversed)', 'desc' %1></li> %>
        <%#         <li><%= sortable 'kanji' %1></li> %>
        <%#         <li><%= sortable 'kanji', 'Kanji (reversed)', 'desc' %1></li> %>
        <%#       </ul> %>
      <%#     </div> %>
    <%#   </div> %>
  <%# </div> %>
