<%= content_tag :div, id: 'kennzahl', data: { kennzahl: @entry.kennzahl.to_i } do %>
<% end %>
<%= bootstrap_form_for @entry do |f| %>
  <div style="width: 800px; position: fixed">
    <div class="funky_grey_seperator">
      <div style="float: left;">
        <%= link_to 'Seite', embed_scans(@entry.kennzahl)[0][:url] %>
        <a href="#"><span class="badge"><span id="page_count"></span></span></a>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" onclick="back_switch()" id="back"class="btn btn-default">Zurück</button>
          <button type="button" onclick="forward_switch()" id="forward" class="btn btn-default">Vor</button>
          <button type="button" onclick="back_first_switch()" id="back_first" class="btn btn-default">1. Textblock</button>
        </div>
      </div>
      <div class="btn-group" role="group" aria-label="..."style="float: right;">
        <%= link_to 'Anzeigen', @entry, class: 'btn btn-default' %>
        <%= f.submit 'Speichern', class: 'btn btn-default' %>
        <% if can?(:manage, Assignment) %>
          <% if @entry.assignment %>
            <%= link_to 'Zuweisung Bearbeiten', edit_assignment_path({id: @entry.assignment.id, entry_id: @entry.id }), class: 'btn btn-default' %>
          <% else %>
            <%= link_to 'Zuweisen', new_assignment_path({entry_id: @entry.id}), class: 'btn btn-default' %>
          <% end %>
        <% end %>
      </div>
      <div style="margin-top: 50px; margin-bottom: 15px;">
        <% embed_scans(@entry.kennzahl).map do |scan| %>
          <%= image_tag "#{scan[:url]}", style: scan[:style], id: scan[:id], size: scan[:size]  %>
        <% end %>
      </div>
      <%= f.text_area :japanischer_quelltext, rows: 2, label: 'Japanischer Quelltext' %>
      <%= f.text_field :japanischer_quelltext_bearbeitungsstand, label: 'Bearbeitungsstand des Quelltextes' %>
    </div>
  </div>
  <div style="margin-left: 820px; width: 575px; margin-top: 21px;"> 
    <%= render 'shared/error_messages', object: f.object %>
    <div class="funky_grey_seperator">
      <h4>Kennungsdaten</h4>
      <% if can?(:manage, @entry) %>
        <%= f.select(:user_id, options_for_select(User.all.collect {|user| [ user.name, user.id ] }, { selected: @entry.user_id}), label: 'Verfasser') %>
      <% else %>
        <%= f.hidden_field :user_id, value: current_user.id  %>
      <% end %>
      <%= f.check_box :freigeschaltet %>
      <%= f.text_field :namenskuerzel, label: 'Namenskürzel' %>
      <%= f.text_field :kennzahl, required: true %>
      <%= f.text_field :spaltenzahl %>
      <%= f.text_field :abweichende_kennzahl, label: 'Abweichende Kennzahl' %>
      <%= f.text_field :seite_textblock2005, label: 'Seite Textblock 2005' %>
      <%= f.select :bearbeitungsansatz, ['Übersetzung', 'ergänzte Übersetzung', 'Neufassung'], selected: 'Übersetzung' %> 
      <%= f.select(:bearbeitungsstand, Entry::BEARBEITUNGS_STAND) %>
    </div>
    <div class="funky_grey_seperator">
      <h4>Lemma-Schreibungen und -Aussprachen</h4>
      <%= f.text_field :japanische_umschrift, label: 'Japanische Umschrift' %>
      <%= f.text_field :japanische_umschrift_din, label: 'Japanische Umschrift nach DIN 32708' %>
      <%= f.text_field :kanji %>
      <%= f.text_field :chinesisch %>
      <div class="toggle_lemma_schreibungen_visibility" style="display:none">
        <%= f.text_field :tibetisch %>
      </div>
      <%= f.text_field :koreanisch %>
      <%= f.text_field :pali %>
      <%= f.text_field :sanskrit %>
      <div class="toggle_lemma_schreibungen_visibility" style="display:none">
        <%= f.text_field :weitere_sprachen %>
        <%= f.text_field :alternative_japanische_lesungen, label: 'Alternative japanische Lesungen' %>
        <%= f.text_field :schreibvarianten %>
        <%= f.text_field :lemma_in_katakana, label: 'Lemma in Katakana' %>
        <%= f.text_field :lemma_in_lateinbuchstaben, label: 'Lemma in lateinischen Buchstaben bei entspr. Originalschreibung' %>
      </div>
      <button type="button" class="btn1" id="funk">Weitere Felder</button>
    </div>
    <div class="funky_grey_seperator">
      <h4>Übersetzungen, Quellenangaben, Literatur und Ergänzungen</h4>
      <%= f.select(:lemma_art, ["", "Person", "Tempel", "Werk", "Fachtermini", "Geographische Bezeichnung", "Ereignis"], label: 'Lemma-Art') %>
      <%= f.text_field :jahreszahlen %>
      <%= f.text_field :deutsche_uebersetzung, label: 'Deutsche Übersetzung' %>
      <%= f.label :uebersetzung, 'Übersetzung' %>
      <%= f.cktext_area :uebersetzung, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
      <%= f.label :quellen %>
      <%= f.cktext_area :quellen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
      <%= f.label :literatur %>
      <%= f.cktext_area :literatur, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
      <div class="toggle_uebersetzung_visibility" style="display:none">
        <%= f.label :eigene_ergaenzungen, 'Eigene Ergänzungen' %>
        <%= f.cktext_area :eigene_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
        <%= f.label :quellen_ergaenzungen, 'Quellen Ergänzungen' %>
        <%= f.cktext_area :quellen_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
        <%= f.label :literatur_ergaenzungen, 'Literatur Ergänzungen' %>
        <%= f.cktext_area :literatur_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
      </div>
      <button type="button" class="btn2">Weitere Felder</button>
    </div>
  </div>
<% end %>
