<% content_for :content_2 do %>
  <%= content_tag :div, id: 'kennzahl', data: {kennzahl: @entry.kennzahl.to_i } do %>
  <% end %>
  <%= form_for @entry do |f| %>
    <div style="width: 800px; position: fixed">
      <span class="right-action"><%= f.submit 'Bearbeitung speichern', class: 'btn' %></span><span class="right-action"> <%= link_to 'Anzeigen', @entry, class: 'btn' %></span>

      <div class="funky_grey_seperator">
        <h1>Eintrag Bearbeiten</h1>
        <span class="right-action"><button class= "btn" id="forward" type="button" onclick="forward_switch()">Vor</button></span>
        <span class="right-action"><button class= "btn" id ="back" type="button" onclick="back_switch()">Zurück</button></span>
        <span class="right-action"><button class= "btn" id ="back_first" type="button" onclick="back_first_switch()">Erste Seite</button></span>
        <span class="left-action" id="page_count" style="display: block; font-size: .83em; margin-top: 1.67em; margin-bottom: 1.67em; font-weight: bold"></span>
        <% pages = to_scan_pages(@entry.kennzahl) %>

        <%= image_tag "http://buddhismus-lexikon.eu:/SBDJ-Original-JPGs/Lex_#{pages[0]}_oben.jpg", style: "display: block;", id: "page0", size: '780x880'  %>
        <%= image_tag "http://buddhismus-lexikon.eu:/SBDJ-Original-JPGs/Lex_#{pages[0]}_mitten.jpg", style: "display: none;", id: "page1", size: '780x880'  %>
        <%= image_tag "http://buddhismus-lexikon.eu:/SBDJ-Original-JPGs/Lex_#{pages[0]}_unten.jpg", style: "display: none;", id: "page2", size: '780x880'  %>

        <%= image_tag "http://buddhismus-lexikon.eu:/SBDJ-Original-JPGs/Lex_#{pages[1]}_oben.jpg", style: "display: none;", id: "page3", size: '780x880'  %>
        <%= image_tag "http://buddhismus-lexikon.eu:/SBDJ-Original-JPGs/Lex_#{pages[1]}_mitten.jpg", style: "display: none;", id: "page4", size: '780x880'  %>
        <%= image_tag "http://buddhismus-lexikon.eu:/SBDJ-Original-JPGs/Lex_#{pages[1]}_unten.jpg", style: "display: none;", id: "page5", size: '780x880'  %>

        <%= image_tag "http://buddhismus-lexikon.eu:/SBDJ-Original-JPGs/Lex_#{pages[2]}_oben.jpg", style: "display: none;", id: "page6", size: '780x880'  %>
        <%= image_tag "http://buddhismus-lexikon.eu:/SBDJ-Original-JPGs/Lex_#{pages[2]}_mitten.jpg", style: "display: none;", id: "page7", size: '780x880'  %>
        <%= image_tag "http://buddhismus-lexikon.eu:/SBDJ-Original-JPGs/Lex_#{pages[2]}_unten.jpg", style: "display: none;", id: "page8", size: '780x880'  %>
        </br>
        <div class="just_playing">
          <%= f.label :japanischer_quelltext %>
          <%= f.text_area :japanischer_quelltext, rows: 4 %>
          <%= f.label :japanischer_quelltext_bearbeitungsstand %>
          <%= f.text_field :japanischer_quelltext_bearbeitungsstand %>
        </div>
      </div>
    </div>
    <div style="margin-left: 820px;"> 
      <%= render 'shared/error_messages', object: f.object %>
      <div class="funky_grey_seperator">
        <h4>Kennungsdaten</h4>
        <% if can?(:manage, @entry) %>
          <%= f.label :user_id, 'Verfasser' %>
          <%= select("entry", "user_id", User.all.collect {|user| [ user.name, user.id ] }, { :selected => @entry.user_id }) %>
        <% else %>
          <%= f.hidden_field :user_id, value: current_user.id  %>
        <% end %>
        <%= f.label :freigeschaltet %>
        <%= f.check_box :freigeschaltet %>
        <%= f.label :namenskuerzel %>
        <%= f.text_field :namenskuerzel %>
        <%= f.label :kennzahl %>
        <%= f.text_field :kennzahl, required: true %>
        <%= f.label :spaltenzahl %>
        <%= f.text_field :spaltenzahl %>
        <%= f.label :abweichende_kennzahl%>
        <%= f.text_field :abweichende_kennzahl%>
        <%= f.label :seite_textblock2005, 'Seite Textblock 2005' %>
        <%= f.text_field :seite_textblock2005 %>
      </div>
      <div class="funky_grey_seperator">
        <h4>Lemma-Schreibungen und -Aussprachen</h4>
        <button type="button" class="btn1" id="funk">Mehr Felder</button>
        <%= f.label :japanische_umschrift%>
        <%= f.text_field :japanische_umschrift %>
        <%= f.label :japanische_umschrift_din, 'Japanische Umschrift Din' %>
        <%= f.text_field :japanische_umschrift_din %>
        <%= f.label :kanji %>
        <%= f.text_field :kanji %>
        <%= f.label :chinesisch %>
        <%= f.text_field :chinesisch %>
        <div class="toggle_lemma_schreibungen_visibility" style="display:none">
          <%= f.label :tibetisch %>
          <%= f.text_field :tibetisch %>
        </div>
        <%= f.label :koreanisch %>
        <%= f.text_field :koreanisch %>
        <%= f.label :pali %>
        <%= f.text_field :pali %>
        <%= f.label :sanskrit %>
        <%= f.text_field :sanskrit %>
        <div class="toggle_lemma_schreibungen_visibility" style="display:none">
          <%= f.label :weitere_sprachen %>
          <%= f.text_field :weitere_sprachen %>
          <%= f.label :alternative_japanische_lesungen %>
          <%= f.text_field :alternative_japanische_lesungen %>
          <%= f.label :schreibvarianten %>
          <%= f.text_field :schreibvarianten %>
          <%= f.label :lemma_in_katakana, 'Lemma in Katakana' %>
          <%= f.text_field :lemma_in_katakana %>
          <%= f.label :lemma_in_lateinbuchstaben, 'Lemma in Lateinbuchstaben' %>
          <%= f.text_field :lemma_in_lateinbuchstaben %>
        </div>
      </div>
      <div class="funky_grey_seperator">
        <h4>Übersetzungen, Quellenangaben, Literatur und Ergänzungen</h4>
        <button type="button" class="btn2">Mehr Felder</button>
        <%= f.label :lemma_art %>
        <%= f.select :lemma_art, ["", "Person", "Tempel", "Werk", "Fachtermini", "Geographische Bezeichnung", "Ereignis"] %> 
        <%= f.label :jahreszahlen %>
        <%= f.text_field :jahreszahlen %>
        <%= f.label :deutsche_uebersetzung %>
        <%= f.text_field :deutsche_uebersetzung %>
        <%= f.label :uebersetzung %>
        <%= f.cktext_area :uebersetzung, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
        <%= f.label :quellen %>
        <%= f.cktext_area :quellen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
        <%= f.label :literatur %>
        <%= f.cktext_area :literatur, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
        <div class="toggle_uebersetzung_visibility" style="display:none">
          <%= f.label :eigene_ergaenzungen %>
          <%= f.cktext_area :eigene_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
          <%= f.label :quellen_ergaenzungen %>
          <%= f.cktext_area :quellen_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
          <%= f.label :literatur_ergaenzungen %>
          <%= f.cktext_area :literatur_ergaenzungen, :ckeditor => {:uiColor => "#AADC6E", :toolbar => "MyToolbar"} %>
          <%= f.label :japanischer_quelltext %>
          <%= f.text_field :japanischer_quelltext %>
          <%= f.label :japanischer_quelltext_bearbeitungsstand %>
          <%= f.text_field :japanischer_quelltext_bearbeitungsstand %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
