<%= content_tag :div, id: 'kennzahl', data: {kennzahl: @entry.kennzahl.to_i } do %>
<% end %>
<div style="width: 800px; position: fixed">
  <% unless @entry.freigeschaltet %>
    <div class="funky_grey_seperator">
      <div style="float: left;">
        <%= link_to 'Seite', embed_scans(@entry.kennzahl)[0][:url] %>
        <a href="#"><span class="badge"><span id="page_count"></span></span></a>
        <% unless @entry.status.blank? %>
          <%= content_tag(:span, @entry.status, class: label_status(@entry.status)) %>
        <% end %>
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" onclick="page_down()" id="back"class="btn btn-default">Zurück</button>
          <button type="button" onclick="page_up()" id="forward" class="btn btn-default">Vor</button>
          <button type="button" onclick="page_first()" id="back_first" class="btn btn-default">1. Textblock</button>
        </div>
      </div>
      <% if can?(:edit, Entry) %>
        <div class="btn-group" role="group" aria-label="..."style="float: right;">
          <%= link_to 'Bearbeiten', edit_entry_path(@entry), class: 'btn btn-default' %>
          <% if (@entry.versions.filter_versions_without_objects.count - 1) > 0  %>
            <%= link_to "#{@entry.versions.filter_versions_without_objects.count - 1 } Versionen", entry_versions_path(@entry), class: 'btn btn-default' %>
          <% end %>
        </div>
      <% end %>
      <div style="margin-top: 50px; margin-bottom: 15px;">
        <% embed_scans(@entry.kennzahl).map do |scan| %>
         <%= image_tag "#{scan[:url]}", style: scan[:style], id: scan[:id], size: scan[:size]  %>
        <% end %>
      </div>
      <% if current_user %>
        <%= render 'comments/form' %>
        <%= render 'comments/show_recent' %>
      <% end %>
    </div>
</div>
    <% end %>
    </div>
    <div style="margin-left: 820px; width: 750px">
      <div class="funky_grey_seperator">
        <h4>Kennungsdaten</h4>
        <dl>
          <% unless @entry.user_id.blank? %>
            <dt>Verfasser</dt>
            <dd><%= @entry.user.name %></dd>
          <% end %>
          <% unless @entry.namenskuerzel.blank? %>
            <dt>Namenskürzel</dt>
            <dd><%= @entry.namenskuerzel %></dd>
          <% end %>
          <% unless @entry.bearbeitungsansatz.blank? %>
            <dt>Bearbeitungsansatz</dt>
            <dd><%= @entry.bearbeitungsansatz %></dd>
          <% end %>
          <% unless @entry.kennzahl.blank? %>
            <dt>Kennzahl</dt>
            <dd><%= @entry.kennzahl %></dd>
          <% end %>
          <% unless @entry.spaltenzahl.blank? %>
            <dt>Spaltenzahl</dt>
            <dd><%= @entry.spaltenzahl %></dd>
          <% end %>
          <% unless @entry.page_reference.blank? %>
            <dt>Page Referenz</dt>
            <dd><%= @entry.page_reference %></dd>
          <% end %>

          <% unless @entry.lemma_art.blank? %>
            <dt>Art des Lemmas</dt>
            <dd><%= @entry.lemma_art %></dd>
          <% end %>
          <% unless @entry.jahreszahlen.blank? %>
            <dt>Jahreszahlen</dt>
            <dd><%= @entry.jahreszahlen %></dd>
          <% end %>
          <% unless @entry.abweichende_kennzahl.blank? %>
            <dt>Abweichende Kennzahl</dt>
            <dd><%= @entry.abweichende_kennzahl %></dd>
          <% end %>
          <% unless @entry.seite_textblock2005.blank? %>
            <dt>Seite Textblock 2005</dt>
            <dd><%= @entry.seite_textblock2005 %></dd>
          <% end %>
        </dl>
      </div>
      <div class="funky_grey_seperator">
        <h4>Lemma-Schreibungen und -Aussprache</h4>
        <dl>
          <% unless @entry.japanische_umschrift.blank? %>
            <dt>Japanische Umschrift</dt>
            <dd><%= @entry.japanische_umschrift %></dd>
          <% end %>
          <% unless @entry.japanische_umschrift_din.blank? %>
            <dt>Japanische Umschrift Din</dt>
            <dd><%= @entry.japanische_umschrift_din %></dd>
          <% end %>
          <% unless @entry.kanji.blank? %>
            <dt>Kanji</dt>
            <dd><%= @entry.kanji %></dd>
          <% end %>
          <% unless @entry.chinesisch.blank? %>
            <dt>Chinesisch</dt>
            <dd><%= @entry.chinesisch %></dd>
          <% end %>
          <% unless @entry.tibetisch.blank? %>
            <dt>Tibetisch</dt>
            <dd><%= @entry.tibetisch %></dd>
          <% end %>
          <% unless @entry.koreanisch.blank? %>
            <dt>Koreanisch</dt>
            <dd><%= @entry.koreanisch %></dd>
          <% end %>
          <% unless @entry.pali.blank? %>
            <dt>Pali</dt>
            <dd><%= @entry.pali %></dd>
          <% end %>
          <% unless @entry.sanskrit.blank? %>
            <dt>Sanskrit</dt>
            <dd><%= @entry.sanskrit %></dd>
          <% end %>
          <% unless @entry.weitere_sprachen.blank? %>
            <dt>Weitere Sprachen</dt>
            <dd><%= @entry.weitere_sprachen %></dd>
          <% end %>
          <% unless @entry.alternative_japanische_lesungen.blank? %>
            <dt>Alternative japanische Lesungen</dt>
            <dd><%= @entry.alternative_japanische_lesungen %></dd>
          <% end %>
          <% unless @entry.schreibvarianten.blank? %>
            <dt>Schreibvarianten</dt>
            <dd><%= @entry.schreibvarianten %></dd>
          <% end %>
          <% unless @entry.lemma_in_katakana.blank? %>
            <dt>Lemma in Katakana</dt>
            <dd><%= @entry.lemma_in_katakana %></dd>
          <% end %>
          <% unless @entry.lemma_in_lateinbuchstaben.blank? %>
            <dt>Lemma in Lateinbuchstaben</dt>
            <dd><%= @entry.lemma_in_lateinbuchstaben %></dd>
          <% end %>
        </dl>
      </div>

      <div class="funky_grey_seperator">
        <h4>Übersetzungen, Quellenangaben, Literatur und Ergänzungen</h4>
        <dl>
          <% unless @entry.uebersetzung.blank? %>
            <dt>Übersetzung</dt>
            <dd><%= raw(@entry.uebersetzung) %></dd>
          <% end %>
          <% unless @entry.deutsche_uebersetzung.blank? %>
            <dt>Deutsche Übersetzung</dt>
            <dd><%= @entry.deutsche_uebersetzung %></dd>
          <% end %>
          <% unless @entry.quellen.blank? %>
            <dt>Quellen</dt>
            <dd><%= raw(@entry.quellen) %></dd>
          <% end %>
          <% unless @entry.literatur.blank? %>
            <dt>Literatur</dt>
            <dd><%= raw(@entry.literatur) %></dd>
          <% end %>
          <% unless @entry.eigene_ergaenzungen.blank? %>
            <dt>Eigene Ergänzungen</dt>
            <dd><%= raw(@entry.eigene_ergaenzungen) %></dd>
          <% end %>
          <% unless @entry.quellen_ergaenzungen.blank? %>
            <dt>Quellen Ergänzungen</dt>
            <dd><%= raw(@entry.quellen_ergaenzungen) %></dd>
          <% end %>
          <% unless @entry.literatur_ergaenzungen.blank? %>
            <dt>Literatur Ergänzungen</dt>
            <dd><%= raw(@entry.literatur_ergaenzungen) %></dd>
          <% end %>
          <% unless @entry.japanischer_quelltext.blank? %>
            <dt>Japanischer Quelltext</dt>
            <dd><%= @entry.japanischer_quelltext %></dd>
          <% end %>
          <% unless @entry.japanischer_quelltext_bearbeitungsstand.blank? %>
            <dt>Japanischer Quelltext Bearbeitungsstand</dt>
            <dd><%= @entry.japanischer_quelltext_bearbeitungsstand %></dd>
          <% end %>
        </dl>
      </div>
      <div class="funky_grey_seperator">
        <h4 id="C4">Kommentare</h4>
        <%= render 'comments/show' %>
      </div>
    </div>
