<h4>Projektbeschreibung</h4>
<p>
Das Große Lexikon des Buddhismus möchte interessierte deutschsprachige Nutzende in umfassender und prägnanter Weise über die wichtigsten aber auch sehr spezifische Aspekte des Buddhismus informieren. Das Projekt startete als Übersetzung des japanischen Nachschlagewerks Sōgō Bukkyō Daijiten 総合仏教大辞典 (Sōgō Bukkyō Daijiten Henshū Iinkai (Hg.), Kyōto: Hōzōkan, 1987). Es enthält mittlerweile aber auch umfassende Bearbeitungen und sowie vollständig neu erstellte Einträge.
</p>

<p>
In geplanten ca. 10.000 Stichwörtern werden der frühen Buddhismus, seine Ausbreitung in Asien und darüber hinaus, die verschiedenen Schulen, Leben und Werke wichtiger buddhistischer Gelehrter, nüchterne Theorien – aber auch glühende Glaubensbekenntnisse –, buddhistische Kunst, Architektur sowie Musik, unterschiedliche Textformen und klassische Schriftensammlungen besonders aus China, Tibet, Thaliand, Korea und Japan behandelt. Dabei befindet sich bereits etwa ein Fünftel der Einträge in unterschiedlichen Zuständen der Bearbeitung.
</p>

<h4>Gedruckte Fassung</h4>


<p>
Die gedruckte Fassung des Lexikons erscheint bei <%= link_to 'iudicium, München', 'http://www.iudicium.de' %>:  Erste Lieferung: <%=link_to 'A–Bai', 'http://www.iudicium.de/katalog/200-7.htm' %>, Zweite Lieferung: <%= link_to 'Bait–D', 'http://www.iudicium.de/katalog/86205-154.htm' %>, Zeittafeln und Karten
<%= link_to 'Indien · China · Japan · Westliche Rezeption',  'http://www.iudicium.de/katalog/528-1.htm' %>, Zeittafeln und Karten. <%= link_to 'Tibet · Südostasien · Korea ·', 'http://www.iudicium.de/katalog/86205-154.htm' %>
</p>

<p>
Das Lexikon ist eine Veröffentlichung des <%= link_to 'EKŌ-Hauses', 'http://www.eko-haus.de' %> der Japanischen Kultur e.V..
</p>


<h4>Zugang zum Online-Lexikon</h4>


<p>
Nicht eingeloggte Nutzende sehen zurzeit leider nur eine Liste der geplanten Einträge. Es ist vorgesehen, Einträge zur allgemeinen Nutzung freizugeben, bzw. Interessierten Zugang zu gewähren. Anfragen können gestellt werden an Ulrich Apel: <%= mail_to 'apel@wadoku.de' %>.
</p>
</br>
<%= link_to 'Zum Login', new_user_session_path, class: 'btn btn-success' %>
<%= link_to 'Weiter als Gast', entries_path, class: 'btn btn-success' %>
</br>
</br>
</br>
</br>
<h5>Allgemeine Datenschutzerklärung</h5>

<p><font size="2">Durch die Nutzung unserer Website erklären Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gemäß der nachfolgenden Beschreibung einverstanden. Unsere Website kann grundsätzlich ohne Registrierung besucht werden. Dabei werden Daten wie beispielsweise aufgerufene Seiten bzw. Namen der abgerufenen Datei, Datum und Uhrzeit zu statistischen Zwecken auf dem Server gespeichert, ohne dass diese Daten unmittelbar auf Ihre Person bezogen werden. Personenbezogene Daten, insbesondere Name, Adresse oder E-Mail-Adresse werden soweit möglich auf freiwilliger Basis erhoben. Ohne Ihre Einwilligung erfolgt keine Weitergabe der Daten an Dritte. (Quelle für Datenschutzerklärung: Muster-Datenschutzerklärung von anwalt.de)
</font></p>
<h5>Datenschutzerklärung zu SSL</h5>
<p><font size="2">
SSL-Verschlüsselung Um Ihre übermittelten Daten bestmöglich zu schützen nutzen die Websitebetreiber eine SSLVerschlüsselung. Sie erkennen derart verschlüsselte Verbindungen an dem Präfix “https://“ im Seitenlink in der Adresszeile Ihres Browsers. Unverschlüsselte Seite sind durch „http://“ gekennzeichnet. Sämtliche Daten, welche Sie an diese Website übermitteln – etwa bei Anfragen oder Logins – können dank SSL-Verschlüsselung nicht von Dritten gelesen werden. (Quelle: Muster von datenschutz.org)
</p>
