<% content_for :content do %>
  <% if flash[:notice] %>
    <div class="alert alert-notice">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= raw(flash[:notice]) %></strong>
    </div>
  <% end %>
  <h1>Alle Mitarbeiter</h1>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Status</th>
      <th>Einträge</th>
      <th></th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role.capitalize %></td>
        <td><%= user.entries.count %></td>
        <td><%= link_to 'Anzeigen', user_entries_path(user) %>
        <% if current_user.admin? %>
         | <%= link_to "Status Ändern", edit_user_path(user) %>
         | <%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Wollen Sie diesen Mitarbeiter wirklich löschen?' } %>
       <% end %>
      </tr>
    <% end %>
  </table>
<% end %>


