<h1>Alle Mitarbeiter</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th>Einträge</th>
    <th>Aufgaben</th>
    <th>Operationen</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.role.capitalize %></td>
      <td><%= user.entries.count %></td>
      <td><%= user.assigned_tasks.count %></td>
      <td><%= link_to 'Nutzereinträge anzeigen', user_entries_path(user) %>
      <% if current_user.admin? %>
        | <%= link_to "Status Ändern", edit_user_path(user) %>
      | <%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Wollen Sie diesen Mitarbeiter wirklich löschen?' } %>
  <% end %>
    </tr>
  <% end %>
</table>
