<div class="row">
  <div class="col-md-4"> 
    <%= bootstrap_form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <h1>Mitarbeiter anlegen</h1>
      <%= f.text_field :name %>
      <%= f.text_field :email %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.select(:role, options_for_select([['Admin', 'admin'],['Editor','editor'], ['Author','author'],['Commentator', 'commentator']], "editor")) %>
      <%= f.submit "Speichern" %>
      <%= link_to 'Zurück', users_path %>
    <% end %>
  </div>
</div>
