<% content_for :content do %>
  <% if flash[:notice] %>
    <div class="alert alert-notice">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><%= raw(flash[:notice]) %></strong>
    </div>
  <% end %>
  <div class="row">
    <div class="span5 offset1">
      </br>
      <h1>Mitarbeiter anlegen</h1>
      </br>
      </br>
      </br>
      <%= form_for @user do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
        <%= f.label :status %>
        <%= f.select(:role, options_for_select([['Admin', 'admin'],['Editor','editor'], ['Author','author'],['Commentator', 'commentator']], "editor")) %>
        </br>
        </br>
        <%= f.submit "Speichern", class: "btn" %>
        <%= link_to 'Zurück', users_path, class: "btn"  %>
      <% end %>
    </div>
  </div>
<% end %>
