<% content_for :content do %>
  </br>
  <p id="notice"><%= notice %></p>
  </br>
  <h1><%= "#{@user.name}'s Profile" %></h1>
  </br>

  <p>
  <h3>Name: <%= @user.name %></h3>
  </p>
  <h3>Email: <%= @user.email%></h3>
  </p>
  <h3>Status: <%= @user.role%></h3>
  </p>
  </br> 
  more user related infos like number of published entries here...
  </br> 
  </br> 
  <%= link_to 'Back', users_path %>
<% end %>
