<div class="well sidebar-nav">
  <ul class="nav nav-pills nav-stacked">
    <li class="disabled"><a><%= @count == 1 ? 'Eintrag' : 'Einträge' %><span class="badge"><%= @count %></a></li>
    <%= form_tag(user_entries_path, method: :get, role: 'form') do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: 'Index Durchsuchen', class: 'form-control' %>
        </br>
          <%= select_tag('field_select', options_for_select(all_fields, selected_field), class: "form-control") %>
            <div style="margin-top: 10px">
          <%= submit_tag "Los!", class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </ul>
</div>

<div class="well sidebar-nav">
  <ul class="nav nav-pills nav-stacked">
    <li class="disabled"><a>Index Sortieren</a></li>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Felder Auswahl
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
        <% Entry::STATUS.each do |elem| %>
          <li><%= sortable "#{elem}"%></li>
          <li><%= sortable "#{elem}", "#{elem.capitalize} (rev)", 'desc' %></li>
        <% end %>
        <li role="separator" class="divider"></li>
        <li><%= sortable 'japanische_umschrift' %></li>
        <li><%= sortable 'japanische_umschrift', 'Japanische Umschrift (rev)', 'desc' %></li>
        <li><%= sortable 'id' %></li>
        <li><%= sortable 'id', 'Id (rev)', 'desc' %></li>
        <li><%= sortable 'kanji' %></li>
        <li><%= sortable 'kanji', 'Kanji (rev)', 'desc' %></li>
      </ul>
    </div>
  </ul>
</div>
