<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header"><%= entry_owner? ? "Meine" : "#{@user.name}'s" %> Einträge Durchsuchen
        <div style="margin-top: 20px">
          <%= form_tag user_entries_path(@user), method: "get" do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Suche", name: nil, class: "btn"  %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Sortieren</li>
    </ul>
    <div style="margin-top: 20px">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Felder Auswahl 
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= sortable 'japanische_umschrift' %></li>
          <li><%= sortable 'japanische_umschrift', 'Japanische Umschrift (reversed)', 'desc' %></li>
          <li><%= sortable 'id' %></li>
          <li><%= sortable 'id', 'Id (reversed)', 'desc' %></li>
          <li><%= sortable 'kanji' %></li>
          <li><%= sortable 'kanji', 'Kanji (reversed)', 'desc' %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<% content_for :content do %>
  <h1><%= entry_owner? ? "Meine" : "#{@user.name}'s"%> Einträge</h1>
  <span class="label"><%= @count %>
  <%= @count == 1 ? "Eintrag" : "Einträge" %>
  </span>

  <%= paginate @user_entries %>
  <table class="table table-striped">
    <tr>
      <th>Verfasser</th>
      <th>Namenskürzel</th>
      <th>Kennzahl</th>
      <th>Japanische umschrift</th>
      <th>Kanji</th>
      <th>Aktionen</th>
      <th>Kommentar</th>
    </tr>

    <% @user_entries.each do |entry| %>
      <tr>
        <td><%= entry.user.name %></td>
        <td><%= entry.namenskuerzel %></td>
        <td><%= entry.kennzahl %></td>
        <td><%= entry.japanische_umschrift %></td>
        <td><%= entry.kanji %></td>
        <td><%= link_to 'Als formatierten Eintrag anzeigen', entry %>
        <% if current_user.admin? || current_user.editor? || (current_user.author? && entry.user_id == current_user.id) %>
          <%= link_to 'Bearbeiten', edit_entry_path(entry) %>
          <%= link_to 'Löschen', entry, method: :delete, data: { confirm: 'Wollen Sie diesen Eintrag wirklich löschen?' }%>
        <% end %>
        </td>
        <td>
          <% if entry.comments.length != 0 %>
            <%= link_to entry.comments.length, entry_path(entry) + "#comments", :class => "badge badge-important comments" %>
          <% end %>
          <% if entry.freigeschaltet %>
            <span class="label label-success">Freigeschaltet</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @user_entries %>
<% end %>
