<% content_for :user_entries_index do %>
  <h1><%= entry_owner? ? 'Meine' : "#{@user.name}"%> Einträge</h1>
  <h4 style="margin-bottom: 30px">Zugewiesen:</h4>
  <table class="table table-striped">
    <tr>
      <th>Japanische Umschrift</th>
      <th>Kennzahl</th>
      <th>Zugewiesen am:</th>
      <th>Zu erledigen zum:</th>
      <th>Zugewiesen von:</th>
      <th>Bearbeitungsstand</th>
      <th>Eintrag</th>
      <th>Aufgabe</th>
    </tr>

    <% @user.assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.entry.japanische_umschrift %></td>
        <td><%= assignment.entry.kennzahl %></td>
        <td><%= assignment.from_date %></td>
        <% if assignment.expired? %>
          <td style="color: red;"><%= assignment.to_date %></td>
        <% else %>
          <td><%= assignment.to_date %></td>
        <% end %>
        <td><%= assignment.name_of_creator %></td>
        <td><%= content_tag(:span, assignment.entry.status, class: label_status(assignment.entry.status)) %></td>
        <td>
          <% if can?(:show, :edit, :delete, assignment.entry) %>
            <%= link_to 'Anzeigen', assignment.entry %> |
            <%= link_to 'Bearbeiten', edit_entry_path(assignment.entry) %> |
            <%= link_to 'Löschen', assignment.entry, method: :delete, data: { confirm: 'Wollen Sie diesen Eintrag wirklich löschen?' }%>
          <% end %>
          <td>
            <% if can?(:edit, :delete, assignment) %>
              <%= link_to 'Erledigt', assignment, method: :delete, data: { confirm: 'Der Eintrag wird als \'erledigt\' markiert und aus der Liste der von Ihren zur Bearbeitung zugewiesenen Einträgen entfernt.' }%> |
              <%= link_to 'Bearbeiten', edit_assignment_path({id: assignment.id, entry_id: assignment.entry_id }) %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </table>

  <h4 style="margin-bottom: 30px">Erstellt:</h1>
  <span class="label"><%= @count %><%= @count == 1 ? "Eintrag" : "Einträge" %></span>

  <%= paginate @user_entries, theme: 'twitter-bootstrap-3', 
    pagination_class: 'pagination-sm' %>
  <table class="table table-striped">
    <tr>
      <th>Japanische Umschrift</th>
      <th>Kennzahl</th>
      <th>Kanji</th>
      <th>Namenskürzel</th>
      <th>Kommentare</th>
      <th>Bearbeitungsstand</th>
      <th>Freigeschaltet</th>
      <th>Aktionen</th>
    </tr>

    <% @user_entries.each do |entry| %>
      <tr>
        <td><%= entry.japanische_umschrift %></td>
        <td><%= entry.kennzahl %></td>
        <td><%= entry.kanji %></td>
        <td><%= entry.namenskuerzel %></td>
        <td><%= entry.comments.any? ? (link_to entry.comments.count, entry_path(entry), class: 'badge') : '' %></td>
        <td><%= content_tag(:span, entry.status, class: label_status(entry.status)) %></td>
        <td><%= entry.freigeschaltet ? (content_tag(:span, 'Freigeschaltet', class: 'label label-success')) : '' %></td>
        <td>
          <% if current_user.admin? || current_user.editor? || (current_user.author? && entry.user_id == current_user.id) %>
            <%= link_to 'Anzeigen', entry %> |
            <%= link_to 'Bearbeiten', edit_entry_path(entry) %> |
            <%= link_to 'Löschen', entry, method: :delete, data: { confirm: 'Wollen Sie diesen Eintrag wirklich löschen?' }%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @user_entries, theme: 'twitter-bootstrap-3', 
    pagination_class: 'pagination-sm' %>
<% end %>
