<%# <h1>Version: <%= @version_number %1> <span style="font-size: 0.5em">Erstellt am: <%= @entry_created_at.strftime('%b %d, %Y')%></span></h1> %>
<%# <div class="funky_grey_seperator"> %>
<%#   <span class="right-action"> <%= link_to 'Aktuelle Version', entry_path(@entry), class: 'btn' %1></span> %>
<%#   <span class="right-action"> <%= link_to 'Versionsindex', entry_versions_path(@entry), class: 'btn' %1></span> %>
  <h4>Kennungsdaten</h4>
  <dl class="dl">
    <% unless @version.user_id.blank? %>
      <dt class="label">Verfasser</dt>
      <dd><%= @version.user.name %></dd>
    <% end %>
    <% unless @version.namenskuerzel.blank? %>
      <dt class="label">Namenskürzel</dt>
      <dd><%= @version.namenskuerzel %></dd>
    <% end %>
    <% unless @version.kennzahl.blank? %>
      <dt class="label">Kennzahl</dt>
      <dd><%= @version.kennzahl %></dd>
    <% end %>
    <% unless @version.spaltenzahl.blank? %>
      <dt class="label">Spaltenzahl</dt>
      <dd><%= @version.spaltenzahl %></dd>
    <% end %>
    <% unless @version.page_reference.blank? %>
      <dt class="label">Page Referenz</dt>
      <dd><%= @version.page_reference %></dd>
    <% end %>

    <% unless @version.lemma_art.blank? %>
      <dt class="label">Art des Lemmas</dt>
      <dd><%= @version.lemma_art %></dd>
    <% end %>
    <% unless @version.jahreszahlen.blank? %>
      <dt class="label">Jahreszahlen</dt>
      <dd><%= @version.jahreszahlen %></dd>
    <% end %>
    <% unless @version.abweichende_kennzahl.blank? %>
      <dt class="label">Abweichende Kennzahl</dt>
      <dd><%= @version.abweichende_kennzahl %></dd>
    <% end %>
    <% unless @version.seite_textblock2005.blank? %>
      <dt class="label">Seite Textblock 2005</dt>
      <dd><%= @version.seite_textblock2005 %></dd>
    <% end %>
  </dl>
</div>
<div class="funky_grey_seperator">
  <h4>Lemma-Schreibungen und -Aussprache</h4>
  <dl class="dl">
    <% unless @version.japanische_umschrift.blank? %>
      <dt class="label">Japanische Umschrift</dt>
      <dd><%= @version.japanische_umschrift %></dd>
    <% end %>
    <% unless @version.japanische_umschrift_din.blank? %>
      <dt class="label">Japanische Umschrift Din</dt>
      <dd><%= @version.japanische_umschrift_din %></dd>
    <% end %>
    <% unless @version.kanji.blank? %>
      <dt class="label">Kanji</dt>
      <dd><%= @version.kanji %></dd>
    <% end %>
    <% unless @version.chinesisch.blank? %>
      <dt class="label">Chinesisch</dt>
      <dd><%= @version.chinesisch %></dd>
    <% end %>
    <% unless @version.tibetisch.blank? %>
      <dt class="label">Tibetisch</dt>
      <dd><%= @version.tibetisch %></dd>
    <% end %>
    <% unless @version.koreanisch.blank? %>
      <dt class="label">Koreanisch</dt>
      <dd><%= @version.koreanisch %></dd>
    <% end %>
    <% unless @version.pali.blank? %>
      <dt class="label">Pali</dt>
      <dd><%= @version.pali %></dd>
    <% end %>
    <% unless @version.sanskrit.blank? %>
      <dt class="label">Sanskrit</dt>
      <dd><%= @version.sanskrit %></dd>
    <% end %>
    <% unless @version.weitere_sprachen.blank? %>
      <dt class="label">Weitere Sprachen</dt>
      <dd><%= @version.weitere_sprachen %></dd>
    <% end %>
    <% unless @version.alternative_japanische_lesungen.blank? %>
      <dt class="label">Alternative japanische Lesungen</dt>
      <dd><%= @version.alternative_japanische_lesungen %></dd>
    <% end %>
    <% unless @version.schreibvarianten.blank? %>
      <dt class="label">Schreibvarianten</dt>
      <dd><%= @version.schreibvarianten %></dd>
    <% end %>
    <% unless @version.lemma_in_katakana.blank? %>
      <dt class="label">Lemma in Katakana</dt>
      <dd><%= @version.lemma_in_katakana %></dd>
    <% end %>
    <% unless @version.lemma_in_lateinbuchstaben.blank? %>
      <dt class="label">Lemma in Lateinbuchstaben</dt>
      <dd><%= @version.lemma_in_lateinbuchstaben %></dd>
    <% end %>
  </dl>
</div>

<div class="funky_grey_seperator">
  <h4>Übersetzungen, Quellenangaben, Literatur und Ergänzungen</h4>
  <dl class="dl">
    <% unless @version.uebersetzung.blank? %>
      <dt class="label">Übersetzung</dt>
      <dd><%= raw(@version.uebersetzung) %></dd>
    <% end %>
    <% unless @version.deutsche_uebersetzung.blank? %>
      <dt class="label">Deutsche Übersetzung</dt>
      <dd><%= @version.deutsche_uebersetzung %></dd>
    <% end %>
    <% unless @version.quellen.blank? %>
      <dt class="label">Quellen</dt>
      <dd><%= raw(@version.quellen) %></dd>
    <% end %>
    <% unless @version.literatur.blank? %>
      <dt class="label">Literatur</dt>
      <dd><%= raw(@version.literatur) %></dd>
    <% end %>
    <% unless @version.eigene_ergaenzungen.blank? %>
      <dt class="label">Eigene Ergänzungen</dt>
      <dd><%= raw(@version.eigene_ergaenzungen) %></dd>
    <% end %>
    <% unless @version.quellen_ergaenzungen.blank? %>
      <dt class="label">Quellen Ergänzungen</dt>
      <dd><%= raw(@version.quellen_ergaenzungen) %></dd>
    <% end %>
    <% unless @version.literatur_ergaenzungen.blank? %>
      <dt class="label">Literatur Ergänzungen</dt>
      <dd><%= raw(@version.literatur_ergaenzungen) %></dd>
    <% end %>
    <% unless @version.japanischer_quelltext.blank? %>
      <dt class="label">Japanischer Quelltext</dt>
      <dd><%= @version.japanischer_quelltext %></dd>
    <% end %>
    <% unless @version.japanischer_quelltext_bearbeitungsstand.blank? %>
      <dt class="label">Japanischer Quelltext Bearbeitungsstand</dt>
      <dd><%= @version.japanischer_quelltext_bearbeitungsstand %></dd>
    <% end %>
  </dl>
</div>
