<p>Hallo <%= @assignment.name_of_recipient %>,<p>
<p>
Ihnen wurde am <strong><%= @assignment.from_date %></strong> von <%= @assignment.name_of_creator %> der Eintrag <strong><%= @assignment.entry.japanische_umschrift %> (<%= @assignment.entry.kennzahl %>)</strong> zur Bearbeitung zugewiesen.</br>
Am <strong><%= @assignment.deadline %></strong> wurde Ihnen eine Mail zugesandt mit der Mitteilung, dass Ihnen, wenn der Eintrag nicht bis heute bearbeitet und als "erledigt" markiert wird, Ihr Bearbeitungsrecht automatisch rückgängig gemacht wird.</br>

Unserem Redaktionssystem zufolge wurde der Eintrag noch nicht als "erledigt" markiert.  Ihr Bearbeitungsrecht wurde daher rückgängig gemacht.  Sie können den Eintrag nicht mehr bearbeiten, und der Eintrag kann anderweitig vergeben werden.</br>

Falls Sie den Eintrag doch noch weiter bearbeiten wollen bzw., wenn es andere Problemen oder Fragen geben sollte, wenden Sie sich gerne an Ulrich Apel apel@wadoku.de.</br></br>

Mit freundlichen Grüßen</br></br>

das automatische Mitteilungssystem von buddhismus-lexikon.eu
</p>
