<!DOCTYPE html>
<html>
  <head>
    <title>Das Große Lexikon des Buddhismus</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if current_page?(root_path) %>
       <%= render "layouts/dsgvo_navbar" %>
    <% else %>
       <%= render "layouts/application_navbar" %>
    <% end %>

    <div class="container-fluid">
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= raw(flash[:notice]) %>
      </div>
    <% end %>
      <div class="row">
        <% if content_for(:index)%>
          <div class="col-xs-2">
            <%= render "shared/sidebar_entry_index" %>
          </div>
          <div class="col-xs-10">
            <%= yield(:index) %>
          </div>
        <% elsif content_for(:user_entries_index)%>
          <div class="col-xs-2">
            <%= render "shared/sidebar_user_entries_index" %>
          </div>
          <div class="col-xs-10">
            <%= yield(:user_entries_index) %>
          </div>
        <% else %>
          <div class="col-md-12">
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
